<div>
  <br>
  <strong>Search:</strong> <input id="search" (input)="searchByName()">
  <button (click)="orderByASC()">Order by ASC</button>
  <br> <br>
  <h2 style="color: #0a70b9">List person</h2>

  <table style="color: purple" border="1px" width="100%">
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let pe of people index as i">
      <td>{{i + 1}}</td>
      <td>{{pe.name}}</td>
      <td>{{pe.address}}</td>
      <td>
        <button class="btn-warning btn"><a style="text-decoration: none" [routerLink]="['/person/edit', pe.id]">Edit</a>
        </button>
      </td>
      <td>
        <button class="btn-warning btn"><a (click)="deletePerson(pe.id)">Delete</a></button>
      </td>
    </tr>
  </table>
</div>
<h2 style="color: purple" id="alo"></h2>

