<div class="container">
  <div class="row">
    <div class="col-6">
      <a style="text-decoration: none;font-size:30px; color: purple" routerLink="/person/create">Create person</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:30px; color: purple" routerLink="/person/list">List person</a>
      <br> <br> <br>
      <a style="text-decoration: none;font-size:30px; color: purple" routerLink="/book/create">Create book</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:30px; color: purple" routerLink="/book/list">List book</a>
      <br> <br> <br>
      <a style="text-decoration: none; font-size:30px; color: purple" routerLink="/test">Test</a>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
      <div>
      </div>
    </div>
  </div>
</div>
<h1>CSS Animation</h1>

<div class="div1"></div>

<div class="view_port">
  <div class="polling_message">
    Listening for dispatches
  </div>
  <div class="cylon_eye"></div>
</div>

<div class="demo">
  <div class="perspective-container">
    <div class="card"></div>
  </div>
</div>
<script>
  function handleMouseMove(event) {
    const height = window.innerHeight;
    const width = window.innerWidth;
    // Creates angles of (-20, -20) (left, bottom) and (20, 20) (right, top)
    const yAxisDegree = event.pageX / width * 40 - 20;
    const xAxisDegree = event.pageY / height * -1 * 40 + 20;
    target.style.transform = `rotateY(${yAxisDegree}deg) rotateX(${xAxisDegree}deg)`;
    // Set the sheen position
    setSheenPosition(event.pageX / width, event.pageY / width);
  }
  function setSheenPosition(xRatio, yRatio) {
    // This creates a "distance" up to 400px each direction to offset the sheen
    const xOffset = 1 - (xRatio - 0.5) * 800;
    const yOffset = 1 - (yRatio - 0.5) * 800;
    target.style.setProperty('--sheenX', `${xOffset}px`)
    target.style.setProperty('--sheenY', `${yOffset}px`)
  }
</script>
