<div class="container">
  <div class="row">
    <div class="col-6">
      <a style="text-decoration: none;font-size:50px; color: purple" routerLink="/create">Create</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:50px; color: purple" routerLink="/">List</a>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
      <div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a style="text-decoration: none;font-size:50px; color: purple" routerLink="/bookCreate">Create</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:50px; color: purple" routerLink="/book">List</a>
    </div>
  </div>
</div>






