<div class="container">
  <div class="row">
    <div class="col-6">
      <a style="text-decoration: none;font-size:30px; color: purple" routerLink="/person/create">Create person</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:30px; color: purple" routerLink="/person/list">List person</a>
      <br> <br> <br>
      <a style="text-decoration: none;font-size:30px; color: purple" routerLink="/book/create">Create book</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="text-decoration: none; font-size:30px; color: purple" routerLink="/book/list">List book</a>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
      <div>
      </div>
    </div>
  </div>
</div>




