<div>
  <table style="color: purple" border="1px">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Author</th>

    </tr>
    <tr *ngFor="let pe of book">
      <td>{{pe.name}}</td>
      <td>{{pe.price}}</td>
      <td>
       {{pe.author?.name}}
      </td>
      <td>
        <button class="btn-warning btn"><a style="text-decoration: none" [routerLink]="['/book/edit', pe.id]">edit</a>
        </button>
      </td>
      <td>
        <button class="btn-warning btn"><a (click)="deleteBook(pe.id)">Delete</a></button>
      </td>
    </tr>
  </table>
</div>
<h2 style="color: purple" id="alo"></h2>
