.alo1 {
  background-color: red;
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
